{% load static %}

<link rel = "stylesheet"  href = "{% static 'home.css' %}" >

<h1 class = "home-header"> Mehfil </h1>
<div class = "container-icons">
    <div class = "container-register"><a href = "register" >Register</a></div>
    <div class = "container-login"><a href = "login" >Login</a></div> 
</div>
<div class = "container">
    <h3 class = "container-header"> Hello ! User <br>Welcome To My Chatting App <h3>
    <div class = "container-img"><img src = "{% static 'sea-message.webp' %} " width = "500px"></div>
</div>
<div class = "circle1"></div>
<div class = "circle2"></div>
<div class = "circle3"></div>
<div class = "circle4"></div>
<div class = "circle5"></div>
<div class = "circle6"></div>
